@model Cart
@if (Model.Lines.Count > 0)
{
    <small>
        Your Cart:
        @Model.Lines.Sum(p => p.Quantity) item(s)
        @Model.ComputeTotalValues().ToString("c")
        <span class="sr-only"></span>
    </small>
}