@model ProductListViewModel
<!--<div id="home" class="main-demo-hero">
    <div class="bg-overlay">
    <div class="hero-content-wrapper">
        <div class="hero-content">                
        <h1 class="hero-lead wow fadeInLeft" data-wow-duration="1.5s">Online Sports Shopping.<br/>Simple.</h1>
        <h4 class="h-alt hero-subheading wow fadeIn" data-wow-duration="2s" data-wow-delay=".7s">Get the Best Deal for almost anything</h4>
        <a href="#about" class="btn wow fadeIn" data-wow-duration="2s" data-wow-delay="1s">Learn More</a>
        </div>
    </div>
    <a href="#welcome" class="scroller scroller-dark">
        <span class="scroller-text">scroll down</span>
        <span class="linea-basic-magic-mouse"></span>
    </a>
    </div>
</div>-->
<section id="welcome" class="container">
    <div class="row">
        <div class="ws-l"></div>
        <header class="sec-heading">
            <h2>Welcome to Sports Store</h2>
            <span class="sub-heading"><br />Explore World-Class branded Sports products. Whatever you've got in mind, we've got inside.</span>
        </header>
    </div>
</section>
<section id="products" class="gray-bg">
    <div class="container section-shop">
        <div class="row mb-30">
            @foreach (Product product in Model.Products)
            {
                <partial name="ProductSummary" model="product"/>
            }            
        </div>
    </div>
</section>