@page "/about"
<header class="page-title pt-large pt-dark pt-plax-lg-dark" data-stellar-background-ratio="0.4">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>About Us</h1>
                <span class="subheading">Few Words about us</span>
            </div>
        </div>
    </div>
</header>  
<section id="about" class="container">
          <div class="row section">
            
            <header class="sec-heading">
              <h2>About Studio</h2>
              <span class="subheading">Lorem ipsum dolor sit amet, consectetur</span>
            </header>

            <div class="col-md-offset-1 col-md-5">
              <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
              <footer><cite>by Henry Hill</cite></footer></blockquote>
            </div>
            <div class="col-md-5">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi aperiam, quia expedita accusamus assumenda. Autem cumque, temporibus, at, suscipit totam dolore incidunt fugit amet nulla libero dignissimos labore ab rerum. Similique quasi eligendi quas excepturi perspiciatis. Distinctio nam sunt exercitationem.</p>
            </div>
          </div><!-- / .row -->
          <div class="row ws-m">
            <div class="col-md-12 text-center">
              <a href="#" class="btn-text">Get in touch</a>
            </div>
          </div>
        </section>